force-app/main/default/flows/Unknown_Lead_Flow_Persona.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Convert_Leads</name>
        <label>Convert Leads</label>
        <locationX>4771</locationX>
        <locationY>504</locationY>
        <actionName>AutoLeadConversionCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Functional_Disposition_in_IA</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__leadRecord</typeName>
            <typeValue>Lead</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Lead_Conversion_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>leadRecord</name>
            <value>
                <elementReference>Get_New_Lead_Record_to_Update</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AutoLeadConversionCtrl</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Call_Type</name>
        <label>Get Call Type</label>
        <locationX>1602</locationX>
        <locationY>697</locationY>
        <actionName>GetCallDirection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreateNewLead</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dnis</name>
            <value>
                <elementReference>Get_inContact_Caller_Information.dnis</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetCallDirection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_DialogTech_Info</name>
        <label>Get DialogTech Info</label>
        <locationX>491</locationX>
        <locationY>846</locationY>
        <actionName>GetPreCallRequestDialogTechAPI</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>callerId</name>
            <value>
                <elementReference>Get_inContact_Caller_Information.ani</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetPreCallRequestDialogTechAPI</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_inContact_Caller_Information</name>
        <label>Get inContact Caller Information</label>
        <locationX>676</locationX>
        <locationY>707</locationY>
        <actionName>CallerInformationCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LeadDataCapture</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>userIds</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CallerInformationCtrl</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Go_to_existing_record</name>
        <label>Go to existing record</label>
        <locationX>2041</locationX>
        <locationY>886</locationY>
        <actionName>c:ConsoleNavigateToRecord_scwm</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>focus</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Matching_Record_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:ConsoleNavigateToRecord_scwm</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Go_to_Opportunity</name>
        <label>Go to Opportunity</label>
        <locationX>5016</locationX>
        <locationY>508</locationY>
        <actionName>c:ConsoleNavigateToRecord_scwm</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>focus</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Convert_Leads.opportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:ConsoleNavigateToRecord_scwm</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Lead</name>
        <label>Navigate to Lead</label>
        <locationX>4553</locationX>
        <locationY>849</locationY>
        <actionName>c:ConsoleNavigateToRecord_scwm</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>focus</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:ConsoleNavigateToRecord_scwm</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Count_Potential_Matches</name>
        <label>Count Potential Matches</label>
        <locationX>1239</locationX>
        <locationY>706</locationY>
        <assignmentItems>
            <assignToReference>MatchCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FindMatchingLeads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Potential_Matching_Records_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Purchaser_Plan_Associations</name>
        <label>Count Purchaser Plan Associations</label>
        <locationX>2672</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>CountPurchaserPlanAssociations</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FindPurchaserPlanAssociations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plan_Acceptance_and_Medicare_ID_Information</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BelowAge65</name>
        <choiceText>Below Age 65</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Below Age 65</stringValue>
        </value>
    </choices>
    <choices>
        <name>ConvertLead</name>
        <choiceText>Schedule Welcome Visit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Schedule Welcome Visit</stringValue>
        </value>
    </choices>
    <choices>
        <name>CurrentpatienttransferredtoC3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Current patient - transferred to C3&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Current patient - transferred to C3</stringValue>
        </value>
    </choices>
    <choices>
        <name>DisqualifyLead</name>
        <choiceText>Disqualify Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disqualify Lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>DuplicateFound</name>
        <choiceText>Duplicate record found. Go to selected record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate record found. Go to selected record</stringValue>
        </value>
    </choices>
    <choices>
        <name>DuplicateNotFound</name>
        <choiceText>&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Duplicate record not found. &lt;/span&gt;Create new Lead record.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate record not found. Create new Lead record. </stringValue>
        </value>
    </choices>
    <choices>
        <name>ExistingPatient</name>
        <choiceText>Already a patient and transfer to C3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Patient</stringValue>
        </value>
    </choices>
    <choices>
        <name>FollowUp</name>
        <choiceText>Follow Up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow Up</stringValue>
        </value>
    </choices>
    <choices>
        <name>JobSeeker</name>
        <choiceText>Job Seeker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Job Seeker</stringValue>
        </value>
    </choices>
    <choices>
        <name>No1</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoMedicarePartB</name>
        <choiceText>No Medicare Part B</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Medicare Part B</stringValue>
        </value>
    </choices>
    <choices>
        <name>OutOfMarket</name>
        <choiceText>Out of Market</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Out of Market</stringValue>
        </value>
    </choices>
    <choices>
        <name>PlanNotAccepted</name>
        <choiceText>Plan not currently accepted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plan not currently accepted</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProspectivePatientNo</name>
        <choiceText>Non-Prospect Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Prospect Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProspectivePatientYes</name>
        <choiceText>Prospect Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prospect Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>RoboCaller</name>
        <choiceText>Robo Caller</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Robo Caller</stringValue>
        </value>
    </choices>
    <choices>
        <name>Telemarketer</name>
        <choiceText>Telemarketer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telemarketer</stringValue>
        </value>
    </choices>
    <choices>
        <name>ToBeScheduled</name>
        <choiceText>To Be Scheduled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>To Be Scheduled</stringValue>
        </value>
    </choices>
    <choices>
        <name>TransferredCall</name>
        <choiceText>Transferred Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transferred Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>TransferredwithinOCC</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Transferred within OCC&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transferred within OCC</stringValue>
        </value>
    </choices>
    <choices>
        <name>TreehouseCaller</name>
        <choiceText>&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;Caller trying to reach someone at Treehouse&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Caller trying to reach someone at Treehouse</stringValue>
        </value>
    </choices>
    <choices>
        <name>VerifyMedicareIDandPlanAcceptance</name>
        <choiceText>Verify Medicare ID and Plan Acceptance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verify Medicare ID and Plan Acceptance</stringValue>
        </value>
    </choices>
    <choices>
        <name>WrongNumber</name>
        <choiceText>Wrong Number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wrong Number</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes1</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Disqualified_or_Aged_Queue</name>
        <label>Disqualified or Aged Queue</label>
        <locationX>3423</locationX>
        <locationY>978</locationY>
        <defaultConnector>
            <targetReference>Get_Disqualified_Queue_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Disqualified Queue</defaultConnectorLabel>
        <rules>
            <name>Aged_Queue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Disqualification_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ineligible: No Medicare Part A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Disqualification_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ineligible: No Medicare Part B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Disqualification_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ineligible: Plan not accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Disqualification_Reason_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ineligible: No Medicare Part A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Disqualification_Reason_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ineligible: No Medicare Part B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Disqualification_Reason_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ineligible: Plan not accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Aged_Queue_ID</targetReference>
            </connector>
            <label>Aged Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Match_Selected</name>
        <label>Duplicate Match Selected</label>
        <locationX>1710</locationX>
        <locationY>889</locationY>
        <defaultConnector>
            <targetReference>CreateNewLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Step_Lead_Action3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DuplicateFound</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matching_Record_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Step_Lead_Action2</name>
        <label>Next Step Lead Action</label>
        <locationX>3069</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_SWV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Schedule Welcome Visit</defaultConnectorLabel>
        <rules>
            <name>Disqualify_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Step_Lead_Action_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DisqualifyLead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Purchaser_Plan_Association_Selected</targetReference>
            </connector>
            <label>Disqualify Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Step_Lead_Action2_0</name>
        <label>Next Step Lead Action</label>
        <locationX>3219</locationX>
        <locationY>416</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_SWV_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Schedule Welcome Visit</defaultConnectorLabel>
        <rules>
            <name>Disqualify_Lead_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Step_Lead_Action_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DisqualifyLead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Disqualified_Lead_0</targetReference>
            </connector>
            <label>Disqualify Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Step_Lead_Action_1</name>
        <label>Next Step Lead Action</label>
        <locationX>2171</locationX>
        <locationY>698</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_Verify</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Verify Medicare ID and Plan Acceptance</defaultConnectorLabel>
        <rules>
            <name>Disqualify_Lead_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Step_Lead_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DisqualifyLead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Record_0_0</targetReference>
            </connector>
            <label>Disqualify Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Potential_Matching_Records_Found</name>
        <label>Potential Matching Records Found</label>
        <locationX>1366</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Get_Call_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Duplicates</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prospect_or_Non_Prospect_call</name>
        <label>Prospect or Non Prospect call</label>
        <locationX>916</locationX>
        <locationY>709</locationY>
        <defaultConnectorLabel>Non Prospect</defaultConnectorLabel>
        <rules>
            <name>Prospect_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProspectivePatientYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Duplicate_Matches</targetReference>
            </connector>
            <label>Prospect Call</label>
        </rules>
    </decisions>
    <decisions>
        <name>Traditional_Medicare</name>
        <label>Traditional Medicare</label>
        <locationX>2957</locationX>
        <locationY>526</locationY>
        <defaultConnector>
            <targetReference>Next_Step_Lead_Action2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_Prospect_have_traditional_Medicare</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_Step_Lead_Action2_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Welcome Visit To Be Scheduled Decision for Non Traditional Medicare</description>
        <name>Welcome_Visit_To_Be_Scheduled_Decision_Non_Traditional_Medicare</name>
        <label>Welcome Visit To Be Scheduled Decision (Non Traditional)</label>
        <locationX>4061</locationX>
        <locationY>693</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WV Scheduled (Non Traditional Medicare)</defaultConnectorLabel>
        <rules>
            <name>WV_To_Be_Scheduled_Non_Traditional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Welcome_Visit_To_Be_Scheduled_MOA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Record_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>WV To Be Scheduled (Non Traditional)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Welcome Visit To Be Scheduled Decision for Traditional Medicare</description>
        <name>Welcome_Visit_To_Be_Scheduled_Decision_Traditional_Medicare</name>
        <label>Welcome Visit To Be Scheduled Decision</label>
        <locationX>3911</locationX>
        <locationY>423</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_Record_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WV Scheduled (Traditional Medicare)</defaultConnectorLabel>
        <rules>
            <name>WV_To_Be_Scheduled_Traditional_Medicare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Welcome_Visit_To_Be_Scheduled_MOA_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Record_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>WV To Be Scheduled (Traditional Medicare)</label>
        </rules>
    </decisions>
    <description>3/8/24-Replace Accepted Plan Object with Purchaser Plan Association Object and the referenced variables
3/7/24 Bug : Include the Custom Save/Next button updates that were overwritten
2/29/24 Bug 51731: Update NSLA to To Be Scheduled when MOA selected
11/09 added Custom button for 1 and 2nd element                                                                                                                           
 11/2/23 US 38759: Update flow to be used for Inbound/Outbound and phone field to populate correctly
10/23 - updated next to save on Plan Acceptance and Medicare ID Inform screen element
10/19 add phone text field in the Update Prospect Date screen element
10/06 delete primary phone in leadscreen but is created in Lead screen
9/28--added dnis logic for create NewLead element for phone field
7/14/23 End if non prospect call
6/21/2023 Added Lead - Autolaunched - Update Functional Disposition on Interaction Activity subflow and Run As System without Sharing.
6/14/2023 Remove Next step actions Transfer, Follow-up and removal of task creation / update
6/8/2023 For Deploying Activity Object Cleanup US
Delete Call_Date_DialogTech__c, Call_Type_DialogTech__c, Called_ID_DialogTech__c, Dialed_Number_DialogTech__c, Phone_Label_DialogTech__c, Session_ID_DialogTech__c</description>
    <dynamicChoiceSets>
        <description>Picklist for this Lead field</description>
        <name>DayofWeekPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Preferred_Appointment_Day__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DisqualificationReasonPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Disqualification_Reason__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist for this Lead field</description>
        <name>Languages</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Preferred_Languages__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NonProspectCallReasonPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Non_Prospect_Call_Reason__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Provider_Languages</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Preferred_Languages__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist for this Lead field</description>
        <name>ProviderPreference</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Provider_Preference__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist for this Lead field</description>
        <name>ReasonsWVNotScheduled</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_WV_was_Not_Scheduled__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist for this Lead field</description>
        <name>SelforSomeoneElse</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>For_whom_requesting_an_appointment__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist for this Lead field</description>
        <name>TimeofDayPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Best_Time_for_Appointment__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist for this Lead field</description>
        <name>TransportationPreference</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Transportation_Preference__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist for this Lead field</description>
        <name>YesorNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Prospect_currently_has_PCP__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist for this Lead field</description>
        <name>YesorNo2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Provider_spends_enough_time_listening__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist for this Lead field</description>
        <name>YesorNo3</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_provider_provide_transportation__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist for this Lead field</description>
        <name>YesorNo4</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Help_with_insurance_benefits_questions__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist for this Lead field</description>
        <name>YesorNo5</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Waitlist_to_Schedule_ASAP__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>isDefaultANIorDNIS</name>
        <dataType>String</dataType>
        <expression>if(ISPICKVAL({!Get_Call_Type.Call_Type__c} ,  &apos;OUTBOUND&apos;),{!Get_inContact_Caller_Information.dnis},{!Get_inContact_Caller_Information.ani})</expression>
    </formulas>
    <formulas>
        <description>Is this an outbound or inbound call type?</description>
        <name>OutboundorInboundCall</name>
        <dataType>String</dataType>
        <expression>if(ISPICKVAL({!Get_Call_Type.Call_Type__c} ,  &apos;OUTBOUND&apos;), &apos;Outbound&apos;, &apos;Inbound&apos;)</expression>
    </formulas>
    <formulas>
        <name>TaskName</name>
        <dataType>String</dataType>
        <expression>&quot;Call - &quot;+TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>WelcomeVisitReminderDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!Follow_Up_Date_Time_0}) , DATEVALUE({!Follow_Up_Date_Time}) , DATEVALUE({!Follow_Up_Date_Time_0}) )</expression>
    </formulas>
    <formulas>
        <description>Field to calculate the Welcome Visit reminder 2 hours prior to follow up.</description>
        <name>WelcomeVisitReminderDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(IF(ISBLANK({!Follow_Up_Date_Time_0}) , {!Follow_Up_Date_Time} -  (2/24), {!Follow_Up_Date_Time_0} -  (2/24)))</expression>
    </formulas>
    <interviewLabel>Unknown Lead Flow - Persona {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unknown Lead Flow - Persona</label>
    <loops>
        <name>Matching_Record_Loop</name>
        <label>Matching Record Loop</label>
        <locationX>1861</locationX>
        <locationY>886</locationY>
        <collectionReference>FindMatchingLeadsDatatable.selectedRows_custom1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Go_to_existing_record</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Purchaser_Plan_Association_Selected</name>
        <label>Purchase Plan Association Selected</label>
        <locationX>3082</locationX>
        <locationY>879</locationY>
        <collectionReference>FindPurchaserPlanAssociationsforCenter.selectedRows_custom2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Disqualified_Lead</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Purchaser_Plan_Association_Selected_2</name>
        <label>Purchaser Plan Association Selected</label>
        <locationX>3735</locationX>
        <locationY>686</locationY>
        <collectionReference>FindPurchaserPlanAssociationsforCenter.selectedRows_custom2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lead_Conversion_Required_Fields</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewLead</name>
        <label>CreateNewLead</label>
        <locationX>1718</locationX>
        <locationY>696</locationY>
        <assignRecordIdToReference>LeadID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_New_Lead_Record_to_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>ANI__c</field>
            <value>
                <elementReference>Get_inContact_Caller_Information.ani</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Category_1__c</field>
            <value>
                <stringValue>Prospect Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Category_2__c</field>
            <value>
                <stringValue>New Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Date_DialogTech__c</field>
            <value>
                <elementReference>Get_DialogTech_Info.DialogTechPreCallAction.call_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Direction__c</field>
            <value>
                <elementReference>OutboundorInboundCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Type_DialogTech__c</field>
            <value>
                <elementReference>Get_DialogTech_Info.DialogTechPreCallAction.call_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Called_ID_DialogTech__c</field>
            <value>
                <elementReference>Get_DialogTech_Info.DialogTechPreCallAction.caller_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_via_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNIS__c</field>
            <value>
                <elementReference>Get_inContact_Caller_Information.dnis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNIS_inContact__c</field>
            <value>
                <elementReference>Get_inContact_Caller_Information.dnis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>DOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dialed_Number_DialogTech__c</field>
            <value>
                <elementReference>Get_DialogTech_Info.DialogTechPreCallAction.dialed_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>TBD Auto-Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Lead_Source__c</field>
            <value>
                <stringValue>TBD Auto-Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>isDefaultANIorDNIS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Label_DialogTech__c</field>
            <value>
                <elementReference>Get_DialogTech_Info.DialogTechPreCallAction.phone_label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Zip_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routed_via_New_Leads_Queue__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inContact_Contact_ID__c</field>
            <value>
                <elementReference>Get_inContact_Caller_Information.c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Duplicate_Matches</name>
        <label>Find Duplicate Matches</label>
        <locationX>1095</locationX>
        <locationY>706</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Potential_Matches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_of_Birth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DOB</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>FindMatchingLeads</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Date_of_Birth__c</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Center__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Lead_Owner_Role__c</queriedFields>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Aged_Queue_ID</name>
        <label>Get Aged Queue ID</label>
        <locationX>3714</locationX>
        <locationY>1052</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_Record_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aged_Leads_Queue_STAGING</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Disqualified_Queue_ID</name>
        <label>Get Disqualified Queue ID</label>
        <locationX>3710</locationX>
        <locationY>889</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_Record_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Disqualified_Leads</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Lead_Record_to_Update</name>
        <label>Get New Lead Record to Update</label>
        <locationX>1865</locationX>
        <locationY>696</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Prospect_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchaser_Plan_Associations</name>
        <label>Get Purchaser Plan Associations</label>
        <locationX>2534</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Purchaser_Plan_Associations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PurchaserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CenterLookup.recordId</elementReference>
            </value>
        </filters>
        <object>PurchaserPlanAssn</object>
        <outputReference>FindPurchaserPlanAssociations</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PurchaserId</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Plan_Benefit__c</queriedFields>
        <queriedFields>Schedule_Appt_Calendar_Year__c</queriedFields>
        <queriedFields>PBP__c</queriedFields>
        <queriedFields>PurchaserPlanId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Disqualified_Lead</name>
        <label>Update Disqualified Lead</label>
        <locationX>3257</locationX>
        <locationY>877</locationY>
        <connector>
            <targetReference>Disqualified_or_Aged_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Lead_Record_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Center__c</field>
            <value>
                <elementReference>CenterLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disqualification_Reason__c</field>
            <value>
                <elementReference>Disqualification_Reason_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medicare_ID__c</field>
            <value>
                <elementReference>Medicare_ID_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step_Lead_Action__c</field>
            <value>
                <stringValue>Disqualify Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Zip_Code2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Insurance_Payer__c</field>
            <value>
                <elementReference>Primary_Payer_Name_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_PBP__c</field>
            <value>
                <elementReference>Purchaser_Plan_Association_Selected.Plan_Benefit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Disqualified_Lead_0</name>
        <label>Update Disqualified Lead</label>
        <locationX>3430</locationX>
        <locationY>775</locationY>
        <connector>
            <targetReference>Disqualified_or_Aged_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Lead_Record_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Center__c</field>
            <value>
                <elementReference>CenterLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disqualification_Reason__c</field>
            <value>
                <elementReference>Disqualification_Reason_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medicare_ID__c</field>
            <value>
                <elementReference>Medicare_ID_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step_Lead_Action__c</field>
            <value>
                <stringValue>Disqualify Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Zip_Code2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Insurance_Payer__c</field>
            <value>
                <stringValue>Medicare</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Record</name>
        <label>Update Lead Record Convert</label>
        <locationX>4613</locationX>
        <locationY>584</locationY>
        <connector>
            <targetReference>Convert_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Lead_Record_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Greenway_ID__c</field>
            <value>
                <elementReference>Greenway_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Email_Opt_In__c</field>
            <value>
                <elementReference>Opt_In_for_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Text_Opt_In__c</field>
            <value>
                <elementReference>Opt_in_for_SMS_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medicaid_ID__c</field>
            <value>
                <elementReference>Medicare_ID2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medicare_ID__c</field>
            <value>
                <elementReference>Medicare_ID2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step_Lead_Action__c</field>
            <value>
                <stringValue>Schedule Welcome Visit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Insurance_Payer__c</field>
            <value>
                <elementReference>Primary_Payer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_PBP__c</field>
            <value>
                <elementReference>Purchaser_Plan_Association_Selected_2.Plan_Benefit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waitlist_to_Schedule_ASAP__c</field>
            <value>
                <elementReference>Waitlist_to_Schedule_ASAP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Welcome_Visit_Date__c</field>
            <value>
                <elementReference>Welcome_Visit_Date2</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Record_0_0</name>
        <label>Update Lead Record Disqualify</label>
        <locationX>2424</locationX>
        <locationY>985</locationY>
        <connector>
            <targetReference>Disqualified_or_Aged_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Lead_Record_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Best_Time_for_Appointment__c</field>
            <value>
                <elementReference>What_time_of_day_do_you_prefer_to_have_your_appointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Center__c</field>
            <value>
                <elementReference>CenterLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disqualification_Reason__c</field>
            <value>
                <elementReference>Disqualification_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>For_whom_requesting_an_appointment__c</field>
            <value>
                <elementReference>For_Whom_are_you_requesting_an_appointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step_Lead_Action__c</field>
            <value>
                <stringValue>Disqualify Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Primary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Zip_Code2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Appointment_Day__c</field>
            <value>
                <elementReference>What_day_of_the_week_do_you_prefer_to_have_your_appointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospect_currently_has_PCP__c</field>
            <value>
                <elementReference>Do_you_currently_have_a_primary_care_provider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Record_0_0_0</name>
        <label>Update Lead Record Disqualify Lead Queue</label>
        <locationX>3916</locationX>
        <locationY>889</locationY>
        <connector>
            <targetReference>Update_Functional_Disposition_in_IA_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Lead_Record_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Disqualified_Queue_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Record_0_0_0_0</name>
        <label>Update Lead Record Aged Lead Queue</label>
        <locationX>3930</locationX>
        <locationY>1052</locationY>
        <connector>
            <targetReference>Update_Functional_Disposition_in_IA_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Lead_Record_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Aged_Queue_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Record_0_0_0_0_0_0</name>
        <label>Update Lead Record Convert</label>
        <locationX>4495</locationX>
        <locationY>411</locationY>
        <connector>
            <targetReference>Convert_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Lead_Record_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Address_0.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Address_0.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>Date_of_Birth_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_1_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Greenway_ID__c</field>
            <value>
                <elementReference>Greenway_ID_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Email_Opt_In__c</field>
            <value>
                <elementReference>Opt_In_for_Email_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Text_Opt_In__c</field>
            <value>
                <elementReference>Opt_in_for_SMS_Text_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medicaid_ID__c</field>
            <value>
                <elementReference>Medicare_ID2_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medicare_ID__c</field>
            <value>
                <elementReference>Medicare_ID2_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step_Lead_Action__c</field>
            <value>
                <stringValue>Schedule Welcome Visit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Insurance_Payer__c</field>
            <value>
                <elementReference>Primary_Payer_Name_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Address_0.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Address_0.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waitlist_to_Schedule_ASAP__c</field>
            <value>
                <elementReference>Waitlist_to_Schedule_ASAP_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Welcome_Visit_Date__c</field>
            <value>
                <elementReference>Welcome_Visit_Date2_0</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Record_0_0_0_0_0_0_0</name>
        <label>Update Lead Record To Be Scheduled</label>
        <locationX>4194</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>Update_Functional_Disposition_in_IA_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Lead_Record_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Address_0.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Address_0.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>Date_of_Birth_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_1_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Greenway_ID__c</field>
            <value>
                <elementReference>Greenway_ID_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Email_Opt_In__c</field>
            <value>
                <elementReference>Opt_In_for_Email_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Text_Opt_In__c</field>
            <value>
                <elementReference>Opt_in_for_SMS_Text_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medicaid_ID__c</field>
            <value>
                <elementReference>Medicare_ID2_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medicare_ID__c</field>
            <value>
                <elementReference>Medicare_ID2_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step_Lead_Action__c</field>
            <value>
                <stringValue>To Be Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Insurance_Payer__c</field>
            <value>
                <elementReference>Primary_Payer_Name_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_WV_was_Not_Scheduled__c</field>
            <value>
                <elementReference>Reason_WV_was_Not_Scheduled_0_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Address_0.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>To Be Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Address_0.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waitlist_to_Schedule_ASAP__c</field>
            <value>
                <elementReference>Waitlist_to_Schedule_ASAP_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Welcome_Visit_Date__c</field>
            <value>
                <elementReference>Welcome_Visit_Date2_0</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Record_0_0_0_0_0_0_0_0</name>
        <label>Update Lead Record</label>
        <locationX>4308</locationX>
        <locationY>750</locationY>
        <connector>
            <targetReference>Update_Functional_Disposition_in_IA_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Lead_Record_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Greenway_ID__c</field>
            <value>
                <elementReference>Greenway_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Email_Opt_In__c</field>
            <value>
                <elementReference>Opt_In_for_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Text_Opt_In__c</field>
            <value>
                <elementReference>Opt_in_for_SMS_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medicaid_ID__c</field>
            <value>
                <elementReference>Medicare_ID2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medicare_ID__c</field>
            <value>
                <elementReference>Medicare_ID2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step_Lead_Action__c</field>
            <value>
                <stringValue>To Be Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Insurance_Payer__c</field>
            <value>
                <elementReference>Primary_Payer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_PBP__c</field>
            <value>
                <elementReference>Purchaser_Plan_Association_Selected_2.Plan_Benefit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_WV_was_Not_Scheduled__c</field>
            <value>
                <elementReference>Reason_WV_was_Not_Scheduled_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>To Be Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waitlist_to_Schedule_ASAP__c</field>
            <value>
                <elementReference>Waitlist_to_Schedule_ASAP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Welcome_Visit_Date__c</field>
            <value>
                <elementReference>Welcome_Visit_Date2</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_SWV</name>
        <label>Update Lead Schedule Welcome Visit</label>
        <locationX>3613</locationX>
        <locationY>685</locationY>
        <connector>
            <targetReference>Purchaser_Plan_Association_Selected_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Lead_Record_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Medicaid_ID__c</field>
            <value>
                <elementReference>Medicare_ID_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Insurance_Payer__c</field>
            <value>
                <elementReference>Primary_Payer_Name_2</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_SWV_0</name>
        <label>Update Lead Schedule Welcome Visit</label>
        <locationX>3524</locationX>
        <locationY>417</locationY>
        <connector>
            <targetReference>Lead_Conversion_Required_Fields_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Lead_Record_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Medicaid_ID__c</field>
            <value>
                <elementReference>Medicare_ID_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Insurance_Payer__c</field>
            <value>
                <stringValue>Medicare</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Verify</name>
        <label>Update Lead Verify</label>
        <locationX>2393</locationX>
        <locationY>523</locationY>
        <connector>
            <targetReference>Get_Purchaser_Plan_Associations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Lead_Record_to_Update.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Best_Time_for_Appointment__c</field>
            <value>
                <elementReference>What_time_of_day_do_you_prefer_to_have_your_appointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Center__c</field>
            <value>
                <elementReference>CenterLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>For_whom_requesting_an_appointment__c</field>
            <value>
                <elementReference>For_Whom_are_you_requesting_an_appointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Primary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Zip_Code2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Appointment_Day__c</field>
            <value>
                <elementReference>What_day_of_the_week_do_you_prefer_to_have_your_appointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospect_currently_has_PCP__c</field>
            <value>
                <elementReference>Do_you_currently_have_a_primary_care_provider</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Find_Duplicates</name>
        <label>Find Duplicates</label>
        <locationX>1512</locationX>
        <locationY>886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Duplicate_Match_Selected</targetReference>
        </connector>
        <fields>
            <name>Caller_First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>First_Name</elementReference>
            </defaultValue>
            <fieldText>Caller First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Caller_Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Last_Name</elementReference>
            </defaultValue>
            <fieldText>Caller Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Caller_DOB</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>DOB</elementReference>
            </defaultValue>
            <fieldText>Caller DOB</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Caller_Phone</name>
            <dataType>String</dataType>
            <fieldText>Caller Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Caller_Zip_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Zip_Code</elementReference>
            </defaultValue>
            <fieldText>Caller Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DuplicateMatchSelection</name>
            <fieldText>&lt;p&gt;If the caller&apos;s record already exists, select the record in the table below. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FindMatchingLeadsDatatable</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_custom1</name>
                <value>
                    <elementReference>FindMatchingLeads</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Date_of_Birth__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>DOB</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_type</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>PostalCode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Postal Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_fieldName</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_label</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleSelection</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_fieldName</name>
                <value>
                    <stringValue>Lead_Owner_Role__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_label</name>
                <value>
                    <stringValue>Owner Role</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows_custom1</name>
                <value>
                    <elementReference>FindMatchingLeadsDatatable.selectedRows_custom1</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DuplicateDecision</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Existing Record Found or Create New Lead&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Duplicate_Warning</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(195, 3, 3);&quot;&gt;WARNING: DO NOT CLICK NEXT IF YOU HAVE NOT SELECTED A DUPLICATE VALUE.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Next_Step_Lead_Action3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DuplicateFound</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Next_Step_Lead_Action3</name>
            <choiceReferences>DuplicateFound</choiceReferences>
            <choiceReferences>DuplicateNotFound</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next Step Lead Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>footerSaveFindDup</name>
            <extensionName>c:customNavigationFooterSave</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Next_Step_Lead_Action3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DuplicateFound</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FooterNextFindDup</name>
            <extensionName>c:customNavigationFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Next_Step_Lead_Action3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DuplicateNotFound</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Next_Step_Lead_Action3</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Conversion_Error_Screen</name>
        <label>Lead Conversion Error Screen</label>
        <locationX>4772</locationX>
        <locationY>849</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_to_Lead</targetReference>
        </connector>
        <fields>
            <name>Duplicate</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;THIS LEAD MAY HAVE A POTENTIAL DUPLCIATE ACCOUNT. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Click &apos;Next&apos; and click &apos;Convert&apos; in the top left.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>DUPLICATES_DETECTED</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GreenwayError</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(24, 24, 24);&quot;&gt;The below error is regarding the &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(24, 24, 24);&quot;&gt;&lt;u&gt;Greenway ID previously entered being a duplicate&lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;font-size: 14px; color: rgb(24, 24, 24);&quot;&gt;.&lt;/u&gt;&lt;span style=&quot;font-size: 14px; color: rgb(24, 24, 24);&quot;&gt; If this was a mistake click &apos;Previous&apos;, adjust the Greenway ID and then proceed. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>flow_error_message</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>An Apex error occurred: System.DmlException: ConvertLead failed. First exception on row 0; first error: DUPLICATE_VALUE, The lead conversion failed because a duplicate value was found for the following fields when saving the new or updated contact or account record. Fields: Greenway_ID__c: []</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ClickNext</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(208, 5, 5);&quot;&gt;THIS LEAD HAS NOT BEEN CONVERTED BUT IT HAS BEEN UPDATED WITH THE PREVIOUSLY ENTERED INFORMATION.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Click &apos;Next&apos; to be brought to the Lead record, adjust any additional information as needed and click &apos;Convert&apos;.&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flow_error_message</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;An error occurred when trying to convert this lead to a new Account and Opportunity. Your admin has been notified with the following error message: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 50, 150); font-size: 11px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lead_Conversion_Required_Fields</name>
        <label>Lead Conversion Required Fields</label>
        <locationX>3902</locationX>
        <locationY>689</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Welcome_Visit_To_Be_Scheduled_Decision_Non_Traditional_Medicare</targetReference>
        </connector>
        <fields>
            <name>LeadConversionRequired</name>
            <fieldText>&lt;p&gt;Prospect Name:  &lt;b&gt;&lt;u&gt;{!Get_New_Lead_Record_to_Update.Name}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Prospect Center: {!CenterLookup.recordName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Lead Conversion Required Fields&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PopulateInformation</name>
            <fieldText>&lt;p&gt;&lt;b&gt;P&lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;lease enter the same patient and appointment information based on what you have scheduled.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Visit_Date2</name>
            <dataType>DateTime</dataType>
            <fieldText>Welcome Visit Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Welcome_Visit_To_Be_Scheduled_MOA</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Welcome_Visit_To_Be_Scheduled_MOA</name>
            <dataType>Boolean</dataType>
            <fieldText>Welcome Visit To Be Scheduled (MOA)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lead_Conversion_Required_Fields_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Conversion_Required_Fields_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Birth</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_New_Lead_Record_to_Update.Date_of_Birth__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Primary_Payer_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Primary_Payer_Name_2</elementReference>
                    </defaultValue>
                    <fieldText>Primary Payer Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Waitlist_to_Schedule_ASAP</name>
                    <choiceReferences>YesorNo5</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_New_Lead_Record_to_Update.Waitlist_to_Schedule_ASAP__c</elementReference>
                    </defaultValue>
                    <fieldText>Waitlist to Schedule ASAP</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Would the prospect like to be added to the waitlist to be scheduled ASAP in the event an appointment slot opens up?&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Follow_Up_Date_Time_0</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Follow-Up Date/Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Date and Time to follow-up with prospect to attempt to schedule WV&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Welcome_Visit_To_Be_Scheduled_MOA</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Additional_Comments_0</name>
                    <fieldText>Additional Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Any additional information which could assist in the follow-up call?&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Welcome_Visit_To_Be_Scheduled_MOA</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Conversion_Required_Fields_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Medicare_ID2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Medicare_ID_2</elementReference>
                    </defaultValue>
                    <fieldText>Medicare ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;b style=&quot;background-color: white; color: rgb(176, 10, 10);&quot;&gt;Medicare ID cannot be greater than 13 characters.&lt;/b&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Medicare_ID2})&lt;=13</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Greenway_ID</name>
                    <dataType>String</dataType>
                    <fieldText>Greenway ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Welcome_Visit_To_Be_Scheduled_MOA</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Reason_WV_was_Not_Scheduled_0_0</name>
                    <choiceReferences>ReasonsWVNotScheduled</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason WV was Not Scheduled</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Welcome_Visit_To_Be_Scheduled_MOA</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Zip_Code2</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OptInConvo</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Would you like to receive messages from Oak Street Health via email or SMS/text, including confirmation of your appointment booked today? You can choose to opt out anytime, either over the phone or by replying STOP to any message you receive.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Mobile</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Lead_Conversion_Required_Fields_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Conversion_Required_Fields_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opt_in_for_SMS_Text</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_New_Lead_Record_to_Update.Marketing_Text_Opt_In__c</elementReference>
                    </defaultValue>
                    <fieldText>Opt in for SMS/Text</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Select &quot;Opt In for SMS/Text&quot; OR &quot;Decline to Opt In&quot;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
AND(
{!Opt_in_for_SMS_Text} = TRUE,
{!Decline_to_Opt_In_5} = TRUE
) = FALSE,
AND(
{!Opt_in_for_SMS_Text} = FALSE,
{!Decline_to_Opt_In_5} = FALSE
) = FALSE
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Conversion_Required_Fields_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Decline_to_Opt_In_5</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Decline to Opt In</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Prospect chose not to Opt in for SMS/Text at this time.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OptInTextBlankMobile</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Mobile number is blank. Please populate Mobile number (in field above) if prospect chooses to Opt in to receive SMS/Text messages.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Opt_in_for_SMS_Text</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Mobile.value</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Email_1</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(195, 4, 4); background-color: rgb(255, 255, 255);&quot;&gt;The format of this email is not valid.&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Email_1},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Lead_Conversion_Required_Fields_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Conversion_Required_Fields_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opt_In_for_Email</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_New_Lead_Record_to_Update.Marketing_Email_Opt_In__c</elementReference>
                    </defaultValue>
                    <fieldText>Opt In for Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Select &quot;Opt In for Email&quot; OR &quot;Decline to Opt In&quot;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
AND(
{!Opt_In_for_Email} = TRUE,
{!Decline_to_Opt_In_6} = TRUE
) = FALSE,
AND(
{!Opt_In_for_Email} = FALSE,
{!Decline_to_Opt_In_6} = FALSE
) = FALSE
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Conversion_Required_Fields_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Decline_to_Opt_In_6</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Decline to Opt In</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Prospect chose not to Opt in for Email at this time.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OptInEmailBlankEmail</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Email is blank. Please populate Email (in field above) if prospect chooses to Opt in to receive Email messages.&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Opt_In_for_Email</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Email_1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ConvertWarning</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(186, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;By clicking &apos;Next&apos; you are &lt;u&gt;converting this Lead into an Account &amp;amp; Opportunity&lt;/u&gt; and will be brought to the related Opportunity,&lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(186, 0, 0);&quot;&gt; pending any data issues.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Welcome_Visit_To_Be_Scheduled_MOA</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Conversion_Required_Fields_0</name>
        <label>Lead Conversion Required Fields</label>
        <locationX>3694</locationX>
        <locationY>420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Welcome_Visit_To_Be_Scheduled_Decision_Traditional_Medicare</targetReference>
        </connector>
        <fields>
            <name>LeadConversionRequired_0</name>
            <fieldText>&lt;p&gt;Prospect Name:  &lt;b&gt;&lt;u&gt;{!Get_New_Lead_Record_to_Update.Name}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Prospect Center: {!CenterLookup.recordName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Lead Conversion Required Fields&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PopulateInformation_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;P&lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;lease enter the same patient and appointment information based on what you have scheduled.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_Visit_Date2_0</name>
            <dataType>DateTime</dataType>
            <fieldText>Welcome Visit Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Welcome_Visit_To_Be_Scheduled_MOA_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Welcome_Visit_To_Be_Scheduled_MOA_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Welcome Visit To Be Scheduled (MOA)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lead_Conversion_Required_Fields_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Conversion_Required_Fields_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Birth_0</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_New_Lead_Record_to_Update.Date_of_Birth__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Primary_Payer_Name_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Medicare</stringValue>
                    </defaultValue>
                    <fieldText>Primary Payer Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Waitlist_to_Schedule_ASAP_0</name>
                    <choiceReferences>YesorNo5</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_New_Lead_Record_to_Update.Waitlist_to_Schedule_ASAP__c</elementReference>
                    </defaultValue>
                    <fieldText>Waitlist to Schedule ASAP</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Would the prospect like to be added to the waitlist to be scheduled ASAP in the event an appointment slot opens up?&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Follow_Up_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Follow-Up Date/Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Date and Time to follow-up with prospect to attempt to schedule WV&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Welcome_Visit_To_Be_Scheduled_MOA_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Additional_Comments</name>
                    <fieldText>Additional Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Any additional information which could assist in the follow-up call?&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Welcome_Visit_To_Be_Scheduled_MOA_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Conversion_Required_Fields_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Medicare_ID2_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Medicare_ID_2</elementReference>
                    </defaultValue>
                    <fieldText>Medicare ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;b style=&quot;background-color: white; color: rgb(176, 10, 10);&quot;&gt;Medicare ID cannot be greater than 13 characters.&lt;/b&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Medicare_ID2})&lt;=13</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Greenway_ID_0</name>
                    <dataType>String</dataType>
                    <fieldText>Greenway ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Welcome_Visit_To_Be_Scheduled_MOA_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Reason_WV_was_Not_Scheduled_0_0_0</name>
                    <choiceReferences>ReasonsWVNotScheduled</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason WV was Not Scheduled</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Welcome_Visit_To_Be_Scheduled_MOA_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address_0</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Zip_Code2</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OptInConvo_0</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Would you like to receive messages from Oak Street Health via email or SMS/text, including confirmation of your appointment booked today? You can choose to opt out anytime, either over the phone or by replying STOP to any message you receive.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Mobile_0</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Lead_Conversion_Required_Fields_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Conversion_Required_Fields_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opt_in_for_SMS_Text_0</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_New_Lead_Record_to_Update.Marketing_Text_Opt_In__c</elementReference>
                    </defaultValue>
                    <fieldText>Opt In for SMS/Text</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Select &quot;Opt In for SMS/Text&quot; OR &quot;Decline to Opt In&quot;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
AND(
{!Opt_in_for_SMS_Text_0} = TRUE,
{!Decline_to_Opt_In_1} = TRUE
) = FALSE,
AND(
{!Opt_in_for_SMS_Text_0} = FALSE,
{!Decline_to_Opt_In_1} = FALSE
) = FALSE
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Conversion_Required_Fields_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Decline_to_Opt_In_1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Decline to Opt In</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Prospect chose not to Opt in for SMS/Text at this time.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OptinTextNoMobile</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Mobile number is blank. Please populate Mobile number (in field above) if prospect chooses to Opt in to receive SMS/Text messages.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Opt_in_for_SMS_Text_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Mobile_0.value</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Email_1_0</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(195, 4, 4); background-color: rgb(255, 255, 255);&quot;&gt;The format of this email is not valid.&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Email_1_0},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Lead_Conversion_Required_Fields_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Conversion_Required_Fields_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opt_In_for_Email_0</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_New_Lead_Record_to_Update.Marketing_Email_Opt_In__c</elementReference>
                    </defaultValue>
                    <fieldText>Opt In for Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Select &quot;Opt In for Email&quot; OR &quot;Decline to Opt In&quot;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
AND(
{!Opt_In_for_Email_0} = TRUE,
{!Decline_to_Opt_In_2} = TRUE
) = FALSE,
AND(
{!Opt_In_for_Email_0} = FALSE,
{!Decline_to_Opt_In_2} = FALSE
) = FALSE
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Conversion_Required_Fields_0_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Decline_to_Opt_In_2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Decline to Opt In</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Prospect chose not to Opt in for Email at this time.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OptInEmailBlank</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Email is blank. Please populate Email (in field above) if prospect chooses to Opt in to receive Email messages.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Opt_In_for_Email_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Email_1_0</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ConvertWarning_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(186, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;By clicking &apos;Next&apos; you are &lt;u&gt;converting this Lead into an Account &amp;amp; Opportunity&lt;/u&gt; and will be brought to the related Opportunity,&lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(186, 0, 0);&quot;&gt; pending any data issues.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Welcome_Visit_To_Be_Scheduled_MOA_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LeadDataCapture</name>
        <label>LeadDataCapture</label>
        <locationX>798</locationX>
        <locationY>707</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Prospect_or_Non_Prospect_call</targetReference>
        </connector>
        <fields>
            <name>LeadDataCaptureScreen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;New Lead Data Capture&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please request the following information if this is a valid inbound lead call.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Call_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ProspectivePatientYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Call_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ProspectivePatientYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DOB</name>
            <dataType>Date</dataType>
            <fieldText>DOB</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Call_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ProspectivePatientYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Zip_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(199, 5, 5);&quot;&gt;&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(189, 2, 2);&quot;&gt;ZIP code needs to be in&amp;nbsp;XXXXX or in XXXXX-XXXX format.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Zip_Code},&quot;\\d{5}(-\\d{4})?&quot;))</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Call_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ProspectivePatientYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DTNonProspectMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;A Task will be created by CXOne to log this call&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Call_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ProspectivePatientNo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Call_Type</name>
            <choiceReferences>ProspectivePatientYes</choiceReferences>
            <choiceReferences>ProspectivePatientNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ProspectivePatientYes</defaultSelectedChoiceReference>
            <fieldText>Call Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Peresona_ULF</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;The Seeker (Inbound)&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;I know OSH / You called me&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;This prospect filled out an OSH related form&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Approach:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;See if there is a visit reason listed&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Try and find out why prospect is interested in finding a new provider&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Based on what they say, share the message that is most relevant:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Focus on prevention&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Make healthcare easy (Insurance Help)&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Listen to your needs&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Enjoyable&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FooternvaigationSave</name>
            <extensionName>c:customNavigationFooterSave</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Call_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ProspectivePatientNo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NextFooter</name>
            <extensionName>c:customNavigationFooterNext</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Call_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ProspectivePatientYes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Call_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Plan_Acceptance_and_Medicare_ID_Information</name>
        <label>Plan Acceptance and Medicare ID Information</label>
        <locationX>2827</locationX>
        <locationY>523</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Traditional_Medicare</targetReference>
        </connector>
        <fields>
            <name>ProspectName</name>
            <fieldText>&lt;p&gt;Prospect Name:  &lt;b&gt;&lt;u&gt;{!Get_New_Lead_Record_to_Update.Name}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Prospect Center: {!CenterLookup.recordName}&lt;/p&gt;&lt;p&gt;Prospect DOB:  {!Get_New_Lead_Record_to_Update.Date_of_Birth__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Medicare_ID_2</name>
            <dataType>String</dataType>
            <fieldText>Medicare ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;background-color: white; color: rgb(186, 17, 17);&quot;&gt;Medicare ID cannot be greater than 13 characters.&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Medicare_ID_2})&lt;=13</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Primary_Payer_Name_2</name>
            <dataType>String</dataType>
            <fieldText>Primary Payer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Does_Prospect_have_traditional_Medicare</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Yes1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Does_Prospect_have_traditional_Medicare</name>
            <choiceReferences>Yes1</choiceReferences>
            <choiceReferences>No1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No1</defaultSelectedChoiceReference>
            <fieldText>Does Prospect have Medicare coverage?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Purchaser_Plan_Association_Verification</name>
            <fieldText>&lt;p&gt;Please select the appropriate Purchaser Plan Association below:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;&lt;em&gt;If you do not see the proper plan, please disqualify this Lead as their plan is not currently accepted.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Does_Prospect_have_traditional_Medicare</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FindPurchaserPlanAssociationsforCenter</name>
            <extensionName>c:datatableFSC1</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_custom2</name>
                <value>
                    <elementReference>FindPurchaserPlanAssociations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>PurchaserPlanId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Purchaser Plan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Schedule_Appt_Calendar_Year__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Schedule Appt Calendar Year</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>PBP__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>PBP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>Effective_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Effective Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_type</name>
                <value>
                    <stringValue>date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows_custom2</name>
                <value>
                    <elementReference>FindPurchaserPlanAssociationsforCenter.selectedRows_custom2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleSelection</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Does_Prospect_have_traditional_Medicare</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LeadActionUpdated2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Choose the next step to take in the lead process:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectCenter</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(195, 3, 3);&quot;&gt;WARNING: DO NOT CLICK NEXT IF AN ACCEPTED PLAN IS NOT SELECTED&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 OR 2 OR 4) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Next_Step_Lead_Action_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ConvertLead</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Next_Step_Lead_Action_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>FollowUp</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Does_Prospect_have_traditional_Medicare</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Yes1</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Next_Step_Lead_Action_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ToBeScheduled</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Next_Step_Lead_Action_2</name>
            <choiceReferences>ConvertLead</choiceReferences>
            <choiceReferences>DisqualifyLead</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next Step Lead Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Disqualification_Reason_2</name>
            <choiceReferences>DisqualificationReasonPicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Disqualification Reason</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Next_Step_Lead_Action_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DisqualifyLead</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FooterDynamic</name>
            <extensionName>c:customNavigationFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Next_Step_Lead_Action_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ConvertLead</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Next_Step_Lead_Action_2</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FooterDynamicSave</name>
            <extensionName>c:customNavigationFooterSave</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Next_Step_Lead_Action_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DisqualifyLead</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Prospect_Date</name>
        <label>Update Prospect Date</label>
        <locationX>2021</locationX>
        <locationY>696</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Next_Step_Lead_Action_1</targetReference>
        </connector>
        <fields>
            <name>UpdateProspectDataText</name>
            <fieldText>&lt;p&gt;Gather additional data on the prospect: &lt;b&gt;&lt;u&gt;{!Get_New_Lead_Record_to_Update.Name}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Phone_Primary</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_New_Lead_Record_to_Update.Phone</elementReference>
            </defaultValue>
            <fieldText>Phone (Primary)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Call_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ProspectivePatientYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Age</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_New_Lead_Record_to_Update.Age__c</elementReference>
            </defaultValue>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Zip_Code2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Zip_Code</elementReference>
            </defaultValue>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(199, 5, 5); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;/span&gt;&lt;b style=&quot;color: rgb(189, 2, 2); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;ZIP code needs to be in&amp;nbsp;XXXXX or in XXXXX-XXXX format.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>(REGEX({!Zip_Code2},&quot;\\d{5}(-\\d{4})?&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DialogTechPhoneLabel</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;DialogTech Phone Label - &lt;/b&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_DialogTech_Info.DialogTechPreCallAction.phone_label}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CenterLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Center__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_a_Center</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(195, 3, 3); font-size: 14px;&quot;&gt;If you do not know the Center please put &quot;TBD Center&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (2 AND 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Next_Step_Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>FollowUp</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CenterLookup.recordId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Next_Step_Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DisqualifyLead</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Update_Prospect_Date_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Prospect_Date_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>For_Whom_are_you_requesting_an_appointment</name>
                    <choiceReferences>SelforSomeoneElse</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>For Whom are you requesting an appointment?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Is the person speaking the prospect?&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Next_Step_Lead_Action</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Transferred Call</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Requestor_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Requestor Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>For_Whom_are_you_requesting_an_appointment</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>On behalf of someone</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Requestor_Relationship_to_Patient</name>
                    <dataType>String</dataType>
                    <fieldText>Requestor Relationship to Patient</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>For_Whom_are_you_requesting_an_appointment</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>On behalf of someone</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Requestor_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Requestor Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>For_Whom_are_you_requesting_an_appointment</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>On behalf of someone</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Do_you_currently_have_a_primary_care_provider</name>
                    <choiceReferences>YesorNo</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_New_Lead_Record_to_Update.Prospect_currently_has_PCP__c</elementReference>
                    </defaultValue>
                    <fieldText>Do you currently have a primary care provider?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Does the prospect currently have a primary care provider they are seeing?&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Next_Step_Lead_Action</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Transferred Call</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>LinksPreview</name>
                    <extensionName>c:FilePreviewPopUp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_currently_have_a_primary_care_provider</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SuggestedLanguage</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 16px; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt;&quot;We would love the opportunity to be your provider. Our providers are interested in keeping you healthy and listening to your needs. Are there any specific needs you have for your provider? For example, Do you have a preference for provider language?&quot;&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_currently_have_a_primary_care_provider</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No1</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Provider_Gender_Preference</name>
                    <choiceReferences>ProviderPreference</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ProviderPreference</elementReference>
                    </defaultValue>
                    <fieldText>Provider Gender Preference?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_currently_have_a_primary_care_provider</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Provider_Language_Preference</name>
                    <choiceReferences>Provider_Languages</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Provider_Languages</elementReference>
                    </defaultValue>
                    <fieldText>Provider Language Preference?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_currently_have_a_primary_care_provider</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Do_you_have_transportation</name>
                    <choiceReferences>TransportationPreference</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>TransportationPreference</elementReference>
                    </defaultValue>
                    <fieldText>Do you have transportation?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_currently_have_a_primary_care_provider</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SuggestedLanguage1</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;&quot;We&apos;d like to gather some information for the care team so they are better prepared for your visit. Would you like me to include any social or medical history for your care team?&quot;&lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;DO NOT ASK PATIENT THESE QUESTIONS BUT KEEP RECORD OF IN COMMENTS FIELD:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 10.5pt; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Did they share anything about who they live with? &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 10.5pt; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Did they share anything about medications they are taking or challenges they&apos;ve had with their health?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_currently_have_a_primary_care_provider</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>What_day_of_the_week_do_you_prefer_to_have_your_appointment</name>
                    <choiceReferences>DayofWeekPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_New_Lead_Record_to_Update.Preferred_Appointment_Day__c</elementReference>
                    </defaultValue>
                    <fieldText>What day of the week do you prefer to have your appointment?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Preferred weekday to schedule an appointment&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Next_Step_Lead_Action</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Transferred Call</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>What_time_of_day_do_you_prefer_to_have_your_appointment</name>
                    <choiceReferences>TimeofDayPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_New_Lead_Record_to_Update.Best_Time_for_Appointment__c</elementReference>
                    </defaultValue>
                    <fieldText>What time of day do you prefer to have your appointment?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Indicates the time that the individual would prefer to schedule appointments.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Next_Step_Lead_Action</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Transferred Call</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>LeadAction</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Choose the next step to take in the lead process:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Update_Prospect_Date_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Prospect_Date_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Next_Step_Lead_Action</name>
                    <choiceReferences>DisqualifyLead</choiceReferences>
                    <choiceReferences>VerifyMedicareIDandPlanAcceptance</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Next Step Lead Action</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Prospect_Date_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Disqualification_Reason</name>
                    <choiceReferences>DisqualificationReasonPicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Disqualification Reason</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Next_Step_Lead_Action</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>DisqualifyLead</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CustomFNext</name>
            <extensionName>c:customNavigationFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Next_Step_Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>FollowUp</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Next_Step_Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>VerifyMedicareIDandPlanAcceptance</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Next_Step_Lead_Action</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CustomFSave</name>
            <extensionName>c:customNavigationFooterSave</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Next_Step_Lead_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DisqualifyLead</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>329</locationX>
        <locationY>688</locationY>
        <connector>
            <targetReference>Get_inContact_Caller_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Functional_Disposition_in_IA</name>
        <label>Update Functional Disposition in IA</label>
        <locationX>4887</locationX>
        <locationY>507</locationY>
        <connector>
            <targetReference>Go_to_Opportunity</targetReference>
        </connector>
        <flowName>Lead_Autolaunched_Update_Functional_Disposition_on_Interaction_Activity_ULF_P_1</flowName>
        <inputAssignments>
            <name>LeadId</name>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Functional_Disposition_in_IA_1</name>
        <label>Update Functional Disposition in IA</label>
        <locationX>4389</locationX>
        <locationY>851</locationY>
        <connector>
            <targetReference>Navigate_to_Lead</targetReference>
        </connector>
        <flowName>Lead_Autolaunched_Update_Functional_Disposition_on_Interaction_Activity_ULF_P_1</flowName>
        <inputAssignments>
            <name>LeadId</name>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CountPurchaserPlanAssociations</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FindAcceptedPlans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Accepted_Plan__c</objectType>
    </variables>
    <variables>
        <name>FindMatchingLeads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>FindPurchaserPlanAssociations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PurchaserPlanAssn</objectType>
    </variables>
    <variables>
        <name>FindSelectedLead</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>MatchCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MatchCountAcceptedPlans</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MatchingRecordSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>RecordToOpen</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>SelectedMatchingRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UnknownLeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Unknown Lead Flow</stringValue>
        </value>
    </variables>
</Flow>
